.fa-facebook-f {
    font-size: 40px;
    color: blue;
}
.fa-x-twitter{
    font-size: 40px;
    color: azure;
}
.fa-location-dot {
    font-size: 40px;
    color: azure;
}
.fa-tag {
    font-size: 40px;
    color: azure;
}
.fa-magnifying-glass{
    font-size: 40px;
    color: azure;
}